body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
  background-color: #eee !important;
}


.main-menu ul li a{
  line-height: 20px;
  padding: 2rem;

}

.main-menu{
  border-bottom: #9C2C8F solid .5rem;
}

.container-form{
  margin-top: 50px;
}

.container-form{
  border: 1px solid rgba(50,50,50,0.3);
  padding: 25px;
}

.container-body{
  border: 1px solid rgba(50,50,50,0.3);
  padding: 25px;
}

input::placeholder{
  color:#9C2C8F!important;
  font-weight: 500!important;
}

input{
  color:#9C2C8F!important;
  font-weight: 500!important;
  border-radius: 0!important;
}

.input-group-text{
  border-radius: 0!important;
}